.profile-container {
  display: flex;
  flex-direction: column;
  font-family: "Bungee";
  height: 100vh;

  .profile-header {
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline: 20px;

    .plus-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 30px;
      padding: 5px 10px;
      background-color: #019e1a;
      border-radius: 10px;

      height: fit-content;
      width: fit-content;
      transition: background-color 0.3s;
      &:hover {
        background-color: #007c15;
      }
    }

    .logout-button {
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: red;
      }
    }
  }

  .profile-body {
    flex-grow: 1;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #e3e3e3;

    color: black;

    .title {
      margin-top: 20px;
      margin-left: 20px;
    }
    .order-list {
      width: 100%;
      list-style: none;
      margin-top: 40px;
      background-color: #e3e3e3;
      .order-card {
        margin-bottom: 3px;
        font-family: "Jura";
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        background-color: #dbdbdb;

        .order-info {
          font-size: 20px;
          margin-left: 20px;
        }
        .order-status {
          font-size: 15px;
          margin-right: 20px;
          &.delivered {
            color: green;
          }
          &.waiting {
            color: rgb(234, 114, 39);
          }
          &.delivered {
            color: green;
          }
        }
      }
    }
  }
}
