.profile-container {
  font-family: "Bungee";

  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline: 20px;

    .plus-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 30px;
      padding: 5px 10px;
      background-color: #019e1a;
      border-radius: 10px;

      height: fit-content;
      width: fit-content;
      transition: background-color 0.3s;
      &:hover {
        background-color: #007c15;
      }
    }

    .logout-button {
      cursor: pointer;
      transition: color 0.3s;
      &:hover {
        color: red;
      }
    }
  }

  .profile-body {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    background-color: #e3e3e3;
    height: 100vw;

    color: black;
  }
}
